.tasksListContainer {
  width: 100%;
  > div {
    width: 100%;
  }
  @media (min-width: $mantine-breakpoint-sm) {
    > div {
      width: 100%;
    }
  }
  @media (min-width: $mantine-breakpoint-lg) {
    > div {
      width: 70%;
    }
  }
}
